<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestCases.SearchHotelTC"/>
      <class name="TestCases.BookhotelTC"/>
      <class name="TestCases.BookItineraryPageTC"/>
      <class name="TestCases.ChangePasswordPageTC"/>
      <class name="TestCases.BookConfirmPageTC"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
